body {
    background-color:  #8FBC8F;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header-container {
    background-color:#8FBC8F;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-menu li {
    margin-left: 20px;
    font-size: 11px;
}
.nav-menu li:first-child {
    margin-left: 0;
}

.nav-menu li a {
    color: #333;
    text-decoration: none;
}

.nav-menu li a:hover {
    text-decoration: underline;
}
nav {
    background-color: white;
    padding: 8px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #504f4f;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
nav li {
    margin: 0 15px;
    display: inline-block;
    margin-right: 80px; /* 메뉴 항목 사이의 간격을 조절합니다. */
}
nav li:last-child {
    margin-right: 0; /* 마지막 메뉴 항목의 오른쪽 간격을 제거합니다. */
}
nav li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
}
nav li a:hover {
    background-color: #858383;
    border-radius: 5px;
}

.amount {
    position: fixed; /* 화면 고정 위치 설정 */
    bottom: 0; /* 화면 하단에 위치 */
    left: 0; /* 왼쪽 정렬 (필요에 따라 조절) */
    background-color: white; /* 배경색 설정 */
    padding: 12px; /* 내용과의 간격 설정 (필요에 따라 조절) */
    width: 100%; /* 전체 너비로 설정 */
    font-weight: bold;
}
main {
    margin: 20px;
}
h2 {
    margin: 0;
}
p {
    margin: 0;
    padding: 10px 0;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 20px;
}
article {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px #ddd;
    overflow: hidden;
}
img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    background-color: #bdd99e;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: perspective(1000px) rotateY(20deg);
    transition: transform 0.5s ease;
}

h1:hover {
        transform: perspective(1000px) rotateY(0deg);
}
