/* cafelist.css */
body {
        background-color: #B7f0b1;
        text-align: center;
}

/* 파일 경로를 가운데 정렬합니다. */
.file-container {
    text-align: center;
     margin-top: 10px;
}


h1 {
        text-align: center; /* 가운데 정렬 스타일 */
        color: white;
        font-size: 36px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 효과 추가 */

}


#search {

    padding: 10px; /* 안쪽 여백 설정 */
    border: 1px solid #ccc; /* 경계선 스타일 및 색상 설정 */
    border-radius: 5px; /* 둥근 모서리 설정 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 설정 */
    outline: none; /* 포커스 스타일 제거 */
    transition: box-shadow 0.3s; /* 그림자 효과에 애니메이션 추가 */

    /* 가로 중앙 정렬 스타일 추가 */
    margin: 0 auto;
    display: block;

    width: 200px; /* 너비를 원하는 크기로 조절합니다. */
    height: 40px; /* 높이를 원하는 크기로 조절합니다. */
}

/* 검색 창에 마우스 호버 효과 추가 */
#search:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 효과 증가 */
}

/* 다른 스타일을 추가할 수도 있습니다. */

/* cafelist.css */

/* 검색 버튼 스타일 */
input[type="submit"] {
    padding: 8px 15px; /* 버튼 크기 조정 */
    background-color: #669966; /* 배경색 설정 */
    color: white; /* 텍스트 색상 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 둥근 모서리 설정 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 설정 */
    cursor: pointer; /* 커서 스타일 변경 */
    transition: background-color 0.3s; /* 배경색 변경에 애니메이션 추가 */

     /* 가로 중앙 정렬 스타일 추가 */
    margin: 0 auto;
    display: block;
}

/* 검색 버튼에 마우스 호버 효과 추가 */
input[type="submit"]:hover {
    background-color: #0056b3; /* 호버 시 배경색 변경 */
}
